<div class="container-fluid background-image-wrapper">


<div class="container-fluid band-hero">
  <h1 class="motto"><strong>Moving is a breeze with <em>mover.</em></strong></h1>
  <p class="slogan"><strong>Book fast, safe and reliable movers in your area with our peer-to-peer service!</strong></p>
  <br>
</div>

<!-- search bar home page -->
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="location please" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

</nav>

<div class='background-wrapper'>
  <img src="https://images.pexels.com/photos/761999/pexels-photo-761999.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb" class="img-fluid" alt="Responsive image">
</div>

<div class="container-fluid about">

</div>

</div>
