

<h1 class="motto">Moving is a breeze with mover.</h1>
<p class="slogan">Book fast, safe and reliable movers in your area with our peer-to-peer service!</p>
<br>

<!-- search bar home page -->
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="location please" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

</nav>

<div class='image'>
  <img class="background-image" src="https://images.pexels.com/photos/761999/pexels-photo-761999.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb">
</div>
