@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import "toastr";

.avatar_small {
  width: 28px;
}

.avatar_medium {
  width: 48px;
}

.avatar_large {
  width: 68px;
}

.avatar_full {
  width: 100%;
}



// search bar homepage
.btn {

  border: #fff;
}

.btn.btn-outline-success:hover {
  color: #fff;
  background-color: #88BBD6;
  border-color: #5cb85c;
  outline: none;
  box-shadow: none;

}

.btn-outline-success {

  color:#fff;
  width: 100;
}

.navbar.navbar-light.bg-light {
  opacity: 0.7;
  position: absolute;
  top: 33rem;
  left: 4rem;
  width: 90%;
  z-index: 1;

}

.form-control.mr-sm-2 {
  width: 90% !important;

}

// homepage slogan motto styles

.band-hero {
  font-family: 'Montserrat', sans-serif;

  position: absolute;
  padding: 100px 0 80px;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: rgb(40, 48, 96);
}

.motto {
  font-size: 60px;
  font-weight: 600;

};

.slogan {
  font-weight: lighter;
  font-size: 20px;
}

em {
  text-decoration: underline;
  color: #fff;
}



//body images and general info




.background-wrapper {
  z-index: -1;
  position: relative;
  width: 100%;
  opacity: 0.8;

}

.about {
  position: relative;
  padding: 150px 0 90px;
  background-color: rgb(40, 48, 96);

}

.background-image-wrapper {

  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  color: #0D1831;
  // background-image: linear-gradient(-180deg, rgba(40, 48, 96, 0.3) 0%, rgba(39, 47, 96, 0.6) %, rgb(40, 48, 96));
}




//navbar
//site navigation
//add space bw login and signup

.ml-md-auto li :hover{

  text-decoration: none;

}

.ml-md-auto li {
  margin-right: 1.5em;
}


//navbar font family for logo and signup login
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  color: #376192 !important;
  font-size: 25px;
}

.navbar.navbar-toggleable-md.navbar-light.py-4.bg-faded {
  font-family: 'Arimo', sans-serif;
}

.navbar-brand {
  // opacity:none !important;
}

//footer
footer {
  // position: fixed;
  display: block;
  width: 100%;
  height: 120px;
  text-align: center;
  color: white;
  background-color: #1495d5;
  font-size: 1rem;
  padding-top: 20px;
  bottom: -60px;
}
// media query

@media (max-width: 991.98px) {

  .navbar.navbar-light.bg-light .form-control.mr-sm-2 {
    width: 70% !important;


  }


}

@media (max-width: 767.98px) {

form {
    width: 100% !important;
    margin-top: -250px;
    color: black !important;
    margin-left: -50px !important;
  }

.slogan {
    display: none;
  }

.motto {
  font-size: 40px;
}

.text-center {
  margin-top: 20px;
}
.row.justify-content-center {
  margin-top: 280px;
  margin-left: 100px;
  margin-right: 10px;
}

.signin-facebook {
  margin-left: -25px;
}
.row.justify-content-center.login {
  margin-top: 280px;
  margin-left: 70px;
  margin-right: 10px;
}
hr {
  margin-left: -85px;
}

.hr {
  margin-left: -45px;
}

.signin-with-facebook {
    margin-left: -35px;
}
}
