@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
@import "toastr";

.avatar_small {
  width: 28px;
}

.avatar_medium {
  width: 48px;
}

.avatar_large {
  width: 68px;
}

.avatar_full {
  width: 100%;
}



// search bar homepage
.btn {
  border: #fff;
}

.btn.btn-outline-success:hover {
  color: #fff;
  background-color: #88BBD6;
  border-color: #5cb85c;
  outline: none;
  box-shadow: none;

}

.btn-outline-success {
  color:#fff;
  width: 100;
}

.navbar.navbar-light.bg-light {
  position: absolute;
  top: 33rem;
  left: 4rem;
  width: 90%;

  z-index: 1;
}

.form-control.mr-sm-2 {
  width: 90% !important;

}

// homepage slogan motto styles

.band-hero {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  padding: 100px 0 80px;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;

}



//body images and general info




.background-wrapper {
  z-index: -1;
  position: relative;
  width: 100%;
  opacity: 0.8;



}

.about {
  position: relative;
  padding: 150px 0 90px;
  background-color: rgb(40, 48, 96);

}

.background-image-wrapper {

  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  color: #fff;
  background-image: linear-gradient(-180deg, rgba(40, 48, 96, 0.3) 2%, rgba(39, 47, 96, 0.6) 49%, rgb(40, 48, 96));
}

//site navigation
//add space bw login and signup
.ml-md-auto li {
  margin-right: 1.5em;
}
